# version: '3.3'
services:
  server:
    container_name: backend_0
    build:
      context: rust
      dockerfile: Dockerfile
    environment:
      - REDIS_NODES=redis-node:6379
    networks:
      - tui-net
    ports:
      - "8080:8080"
    depends_on:
      redis-node:
        condition: service_started
  redis-node:
    build: redis
    container_name: redis
    ports:
      - "7001:6379"
    volumes:
      - redis-data:/data
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - tui-net
networks:
  tui-net:
    driver: bridge
volumes:
  redis-data:
